<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html">
    <meta charset="UTF-8" />
    <title>Create Post</title>
</head>
<body>
<nav th:insert="partials/navbar"></nav>
<h1 class="text-center">Edit Post</h1>
<div class="container" style="width: 50%">
    <form th:action="@{'/posts/' + ${editingPost.id} + '/edit'}" method="post">
        <div class="mb-3">
            <label for="postTitle" class="form-label"><h3>Title</h3></label>
            <input type="text" class="form-control" id="postTitle" name="postTitle" th:value="${editingPost.title}">
        </div>
        <div class="mb-3">
            <label for="postBody" class="form-label"><h3>Body</h3></label>
            <textarea class="form-control" rows="10" cols="50" id="postBody" name="postBody" th:text="${editingPost.body}"></textarea>
        </div>
        <br>
        <div><button type="submit">Save</button> </div>
        <a th:href="@{'/posts/' + ${editingPost.id}}" class="btn btn-primary">Cancel</a>
    </form>
</div>

<footer th:replace="partials/footer.html"> </footer>
</body>
</html>